/* Partially borrowed from
 *  https://codetheweb.blog/style-a-navigation-bar-css/
 */

body {
    background-image: url('https://wallpapers.com/images/high/valheim-aesthetic-forest-7u8tl7ff9atb0dt9.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: arial;
    margin-top: 50px;
    padding: 20px;
}

section {
    color: #eee;
    /*mix-blend-mode: lighten;*/
}

/* Partially borrowed from
 *  https://blog.hubspot.com/website/remove-underline-from-links-css
 */
a:link { 
    color: rgb(98, 181, 209);
    text-decoration: none; }
a:visited { 
    color: rgb(147, 208, 228);
    text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

main {
    color: white;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: black;
    text-decoration: none;
    
}

/* li {
    text-decoration: underline;
} */

/*
header li a.active {    
    box-shadow: 0 0 15px 5px #eee;
}

header li a.inactive {
    box-shadow: 0 0 15px 5px #ccc;
}*/

header li a:hover {
    box-shadow: 0 0 11px #aaa;

    /*background-color: #eee;
    margin: 10px;*/

    /*border: 1px solid #eee;*/
}

footer {
    font-size: 12px;
    color: aqua;
    mix-blend-mode: hard-light;
}
