
.title {
    color: lightblue;
    mix-blend-mode: difference;
    text-align: center;
    font-size: 2em;
    padding-top: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;

    position: relative;
}



/* variables */
:root {
    --speed: .3s;
}

/* Below sourced from https://alvarotrigo.com/blog/css-text-animations#5.-bouncing-with-reflection-text-animation-(css-only)
 * (page might be laggy, a lot of animations I guess?)
 */
.title span {
    position: relative;
    display: inline-block;
    color: #fff;
    /* text-transform: uppercase; */
    animation: wavy calc(var(--speed) * 10) ease-in-out infinite alternate,
        floaty calc(var(--speed) * 10) ease-in-out infinite alternate;
    animation-delay: calc(var(--speed) * var(--id));
}

@keyframes wavy {
    0%, 40%, 100% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(-10px)
    }
}

/* This isnt exactly the sequence I was thinking of , but its still kinda fascinating
 */
@keyframes floaty {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-8px); }
}


section {
    color: #eee;
    padding: 20px;
}


/* changing style button */
#style-button {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    text-decoration: none;
    opacity: .7;
    transition: background-color 0.5s ease;
    z-index: 2;
}

#style-button:hover {
    background-color: #555;
}



/* Below sourced from https://blog.hubspot.com/website/remove-underline-from-links-css
 */
section li {
    color: white;
    mix-blend-mode: lighten;
}



a:link { 
    color: rgb(98, 181, 209);
    text-decoration: none; 
}
a:visited { 
    color: rgb(147, 208, 228);
    text-decoration: none; 
}
a:hover { 
    text-decoration: none;
    color:rgb(102, 196, 227);
    /* transition: background-color 1s ease; */
}
a:active { 
    text-decoration: none; 
}



main {
    color: white;
    padding: 20px;
}

/* Below sourced from https://codetheweb.blog/style-a-navigation-bar-css/
 */
body {
    /* Valheim Aesthetic Forest Wallpaper. (n.d.). Wallpapers.com. https://wallpapers.com/wallpapers/valheim-aesthetic-forest-7u8tl7ff9atb0dt9.html
     */
    background-image: url('https://wallpapers.com/images/high/valheim-aesthetic-forest-7u8tl7ff9atb0dt9.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: arial;
    margin-top: 50px;
    padding: 30px 0px 80px 10px;
    background-attachment: fixed;
}

/* Top nav */
section.nav {
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #333;
    /* mix-blend-mode: difference; */
    /* opacity: .7; */
    position: fixed;
    align-items: center;
    display: flex;
    justify-content: space-around;
    z-index: 5;
}

section.nav li {
    margin: 30px;
    /* opacity: 0.8; */
    display: inline-block;
    padding: 10px;
}

section.nav li a {
    color: lightblue;
    text-decoration: none;
}

/* highlight nav page */
section.nav li a.active {
    color: red;
}

section.nav li a:hover {
    border: 1px solid #aaa;
    box-shadow: 0 0 10px #aaa;
}

/* Below sourced from https://www.w3schools.com/html/html_table_borders.asp
 */
table, th, td {
    /* border: 2px solid transparent; */
    border-collapse: separate;
    border-spacing: 2px;
}

th, td {
    background: rgba(127, 255, 212, .3);
    padding: 2px;
    max-width: 300px;
    font-size: 13px;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    color: lightblue;
    text-transform: uppercase;
    /* text-shadow: #aaa; */
    mix-blend-mode: hard-light;
    text-align: center;
    padding: 10px;
}

h3 {
    margin-top: 0px;
}